canvas, video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
}

video {
    transform: scaleX(-1);
    opacity: .2;
}

.button__screenshot {
    position: absolute;
    left: 0;
    top: 0
}