.section-video {
    position: relative;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: grey;

    video {
        width: 70%;
        height: auto;
    }
}

.button__video {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 20px 40px;

    border-radius: 20px;

    border: none;
    outline: none;

    &:hover {
        background: rgba(200, 200, 200, 1);
    }
}